@model CoffeShopSystem.Models.Order

@{
    ViewData["Title"] = "Delete Order";
}

<div class="container mt-5">
    <div class="alert alert-danger">
        <h4><i class="bi bi-exclamation-triangle-fill text-danger"></i> Are you sure you want to delete this order?</h4>
        <p class="mt-4">Table #: @Model.Table.TableNumber</p>
        <p>Ordered At: @Model.CreatedAt.ToString("g")</p>
    </div>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> Delete</button>
        <a class="btn btn-sm btn-success mx-3" asp-action="Index"><i class="bi bi-arrow-return-left"></i> Cancel</a>
    </form>
</div>

