@model CoffeShopSystem.ViewModels.TableVM

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center align-content-center mt-5">
    <div class="card">
        <div class="card-header">
            <h5>Add New Table</h5>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TableNumber" class="control-label"></label>
                    <input asp-for="TableNumber" class="form-control" required/>
                    <span asp-validation-for="TableNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FloorNumber" class="control-label"></label>
                    <input asp-for="FloorNumber" class="form-control" value="1" />
                    <span asp-validation-for="FloorNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-floppy"></i> Save</button>
                        <a class="btn btn-sm btn-secondary" asp-action="Index"><i class="bi bi-arrow-left"></i> Back</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
