@model CoffeShopSystem.ViewModels.MenuVM

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-center align-content-center mt-5">
    <div class="card">
        <div class="card-header">
            <h5>Edit Menu</h5>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Item" class="control-label"></label>
                    <input asp-for="Item" class="form-control" />
                    <span asp-validation-for="Item" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-floppy"></i> Save</button>
                        <a class="btn btn-sm btn-secondary" asp-action="Index"><i class="bi bi-arrow-left"></i> Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
