@model IEnumerable<CoffeShopSystem.ViewModels.MenuVM>

@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<div class="container-sm mt-5">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-outline-primary" asp-action="Create"><i class="bi bi-plus-circle"></i> Add</a>
                <h5>Menus</h5>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-borderless table-responsive table-striped text-center">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Price
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @i </td>
                            <td>
                                @item.Item
                            </td>
                            <td>
                                @item.Price AFN
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-warning btn-sm mx-3" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
